<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomieGo</title>
</head>
<body>
    <form action="http://localhost:8080/listings" method="post">
        <input type="text" name="listing[title]" placeholder="Enter title">
        <br>
        <br>
        <textarea name="listing[description]" id="" cols="30" rows="10" placeholder="Enter description"></textarea>
        <br>
        <br>
        <input type="text" name="listing[image]" placeholder="Enter image URL">
        <br>
        <br>
        <input type="text" name="listing[price]" placeholder="Enter price">
        <br>
        <br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br>
        <br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br>
        <br>
        <button>Add</button>
    </form>
</body>
</html>